@import compass/css3
@import compass/typography
@import compass/reset
@import grid
@import init
@import font-awesome



// mixins
@mixin genericTitle
	font-size: 2em

@mixin tab
	padding: 15px 0 15px 0
	text-align: center
	display: block
	color: $primario
	+background-image(linear-gradient(#fff301, #fff301 50%, #ffdd00 51%, #ffdd00))
	+box-shadow(rgba(black,0.3) 0px 2px 3px)


	&:hover
		color: $primario

	&:active
		+box-shadow(rgba(black,0.6) 0px 2px 3px inset)


@mixin selectedTab
	color: white
	+background-image(linear-gradient(black, black 50%, #252525 51%, #252525))
	background-color: white
	outline: none

	&:hover
		color: white



body
	font-family: Helvetica
	font-size: 16px
	background-color: $fondo

	//background: url('img/noise-yellow.png')
	+background-image(radial-gradient(300px 300px, #fef200 0px, #efca00 800px))
	+aldo
	text-transform: uppercase

	input[type="text"], input[type="password"]
		+fx
		background-color: transparent
		border: 1px solid $primario
		padding: 6px
		vertical-align: bottom
		font-size: 1.2em
		margin: 0
		+aldo

		&:focus
			+remove-focus



//icons
i
	font-size: 14px


#personajeCanvas, #comicCanvas
	+cf
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIUlEQVQYV2O8O4HLh4EIwAhSqFzwbQshtaMK8YYQ0cEDAASpJc5/1r+xAAAAAElFTkSuQmCC')

#crearPersonaje
	+container
	outline: 3px solid $primario
	h1
		+g12
		text-align: center

	h2
		+g12
		text-align: center


	

	.controllers
		+g12
		text-align: center
		margin-bottom: $spacer


#insertText

	input
		margin-left: $spacer

canvas


.item
	
	+g2
	height: 124px
	margin-bottom: 10px
	text-align: center
	img
		max-width: 124px
		max-height: 124px


@mixin btn

	padding: 10px
	position: relative
	color: $fondo
	+background-image(linear-gradient(#870a28, #870a28 50%, $primario 51%, $primario))
	text-align: center
	display: inline-block
	//margin-right: 10px
	+box-shadow(rgba(black,0.5) 0px 1px 1px)
	+border-radius(3px)
	

	&:hover
		+fx
		color: white

		>div
			color: $fondo
			visibility: visible
			opacity: 1

			


	&:active
		+box-shadow(rgba(black,0.6) 0px 2px 3px inset)

	// tooltip
	>div
		+fx
		position: absolute
		bottom: -35px
		left: 0
		+background-image(linear-gradient(black, black 50%, #252525 51%, #252525))
		z-index: 100
		padding: 3px
		text-align: center
		width: 110px
		font-size: 0.85em
		visibility: hidden
		opacity: 0

		&::after
			content: ''
			position: absolute
			border-style: solid
			border-width: 13px 12px 0 12px
			left: 0
			top: -13px
			border-color: transparent transparent transparent $texto
			z-index: 101



.btn
	+btn




#splash
	+container
	margin-top: $spacer*5
	text-align: center

	h1
		
		margin-bottom: 1.5em
		color: $primario

		span
			color: $texto
			font-size: 3em

	a.btn
		font-size: 3em
		margin-bottom: 1.5em

	>div
		margin: 0 auto
		width: 715px
		+cf
		




#container
	+container
	margin-top: $spacer



#panelPersonaje
	+g4

	h1
		+genericTitle
		margin-bottom: $spacer
		+text-shadow(rgba(white,0.5) 0px -1px 0)

	// personaje
	>div:nth-of-type(1)
		+out
		margin-bottom: $spacer
		img
			width: 100%


#actions
	
	a
		margin-right: 10px

	a:last-of-type
		margin-right: 0


#camAction
	margin-bottom: $spacer
	a
		display: block


#panelContent
	+g8

	h2
		+g5
		+alpha
		
		+genericTitle
		margin-bottom: $spacer
		+text-shadow(rgba(white,0.5) 0px -1px 0)
	
	// crear nuevo
	>a
		+tab
		display: block
		+cf
		font-size: 2em
		margin-bottom: $spacer

	div.saveBtn
		+g3
		+omega
		text-align: right

		a:last-of-type
			margin-left: 10px






#panelComic
	+g6

	h1
		+genericTitle
		margin-bottom: $spacer
		+text-shadow(rgba(white,0.5) 0px -1px 0)

	// personaje
	>div:nth-of-type(1)
		
		margin-bottom: $spacer
		img
			width: 100%



#panelContentComic
	+g6

	div.saveBtn
		
		+omega
		text-align: right
		margin-bottom: 6px

		a:last-of-type
			margin-left: 10px


.memeThumbs
	+cf
	// checar si sí o sí no
	//min-height: 426px
	// normal, sin incepton de engine de slides
	>div:nth-of-type(4n+1)
		+alpha

	>div:nth-of-type(4n+4)
		+omega


.itemThumbs
	+cf
	>div:nth-of-type(3n+1)
		+alpha

	>div:nth-of-type(3n+3)
		+omega

.comicThumbs
	+cf
	min-height: 426px
	// normal, sin incepton de engine de slides
	>div:nth-of-type(3n+1)
		+alpha

	>div:nth-of-type(3n+3)
		+omega

.itemMeme
	+g2
	+fx
	position: relative
	margin-bottom: 10px
	max-height: 124px
	min-height: 93px
	text-align: center
	>a

	img
		max-height: 124px
		max-width: 124px
		vertical-align: bottom
	&:hover
		+box-shadow(rgba(black,0.2) 0px 2px 10px)
		cursor: pointer


.itemThumbnail
	+g2
	width: 168px
	position: relative
	margin-bottom: 10px

	text-align: center
	>a

	img
		width: 100%
		vertical-align: bottom
	&:hover
		+box-shadow(rgba(black,0.2) 0px 2px 10px)
		cursor: pointer

	// fb avatar
	div
		position: absolute
		top: 5px
		left: 5px
		
		a
			display: block

			img
				+fx
				display: block
				width: 35px
				height: 35px
				+border-radius(40px)
				+box-shadow(rgba(black,0.2) 0px 2px 3px)

		&:hover
			img
				+border-radius(0px)



a.itemAction
	+out
	width: 100%
	min-height: 93px
	display: block
	text-align: center
	color: black

	i
		display: block
		font-size: 3em
		padding: 5px 0 5px 0

	&:hover
		color: $primario


.bx-controls-direction
	text-align: right	
	a
		+btn

	a:last-of-type
		margin-left: 10px





.tabs
	+cf
	margin-bottom: $spacer
	>a
		+tab
		+g2
		width: 168px

	>a:first-of-type
		+alpha

	>a:last-of-type
		+omega


.itemSelector
	// el controlador de tabs
	+cf
	>ul
		+cf
		margin-bottom: $spacer

		>li
			display: block
			float: left
			width: 18.48%
			margin-right: 10px

			a
				+tab

			a.selected
				+selectedTab


		>li:last-of-type
			margin-right: 0

	>ul.comicItemSelector
		>li
			width: 31.60%



a.selectedTab
	+selectedTab
	



#noFriends
	+cf
	text-align: center
	width: 350px
	margin: 0 auto
	
	h3
		padding: 30px 0 30px 0
		font-size: 10em
	p		
		display: block
		font-size: 1.3em
		margin-bottom: $spacer*3




#detalle
	+container
	margin-top: $spacer

	



#comentarios
	+g6
	


	div
		margin-bottom: $spacer
		img
			margin-right: $spacer/2
		span
			font-size: 2.5em
			color: $fondo

	h2
		font-size: 1em
		color: $fondo

	form
		margin-bottom: $spacer*2

		textarea
			background: white
			display: block
			font-family: inherit
			font-size: inherit
			height: 50px
			margin: 0
			padding: $spacer/2
			width: 97%
			margin-bottom: $spacer
			resize: none
			+remove-focus

		button
			display: block
			margin-left: auto


	article
		margin-bottom: $spacer*3
		+cf
		h3
			color: $fondo

			&:after
				content: ':'
		p
			+sans
			font-size: 0.75em
			text-transform: none
			float: left
			width: 360px

		a.btn
			float: right

#pic
	+g6
	margin-top: $spacer*8

	// contenedor de la pic
	div:nth-of-type(1)
		+background-image(radial-gradient(300px 300px, #fef200 0px, #efca00 500px))
		margin-bottom: $spacer*2
		img
			width: 100%
			vertical-align: bottom
			+border-radius(3px)


	// controles de la pic
	div:nth-of-type(2)
		float: right

		span
			padding: 8px
			text-align: center
			border: 1px solid $fondo
			color: $fondo

		a
			margin-left: $spacer/2



.lb
	background: none
	color: white

	// cerrar
	>a:nth-of-type(1)
		margin-bottom: $spacer*2


.js-slides

	.slides_container
		

		.slide
			margin-bottom: $spacer
			width: 526px
			height: 418px

			>div.itemMeme:nth-of-type(4n+1)
				+alpha

			>div.itemMeme:nth-of-type(4n+4)
				+omega

	>a
		+btn
		margin-top: $spacer

	>a:first-of-type
		margin-left: 455px

	>a:last-of-type
		margin-left: $spacer



.js-slides-comic

	.slides_container
		

		.slide
			margin-bottom: $spacer
			width: 392px
			height: 418px

			>div.itemMeme:nth-of-type(3n+1)
				+alpha

			>div.itemMeme:nth-of-type(3n+3)
				+omega

	>a
		+btn
		margin-top: $spacer

	>a:first-of-type
		margin-left: 324px

	>a:last-of-type
		margin-left: $spacer


// no sé si debería hacer ésto

.rounded
	background: $texto
	+border-radius(500px)
	height: 124px
	position: relative

	img
		position: absolute
		left: 50%
		margin-left: -48px
		top: 50px



.inputClose
	opacity: 0
	visibility: none
	width: 0

.inputOpen
	opacity: 1
	visibility: visible
	width: 332px



// todo el bussine de la cámara
#cam
	width: 420px
	margin: 0 auto
	text-align: center

#camaradiv


#camControls
	margin-top: $spacer

	a
		padding-top: $spacer
		display: block

#upload_results
	text-align: center

	p
		font-size: 0.9em
		color: $fondo
		margin-bottom: $spacer

	img
		display: block
		margin: 0 auto
		margin-bottom: $spacer



#wraper
	margin: 10px auto
	text-align: center
	width: 1002px

#overlay
	background: black
	bottom: 0
	left: 0
	opacity: 0.5
	position: fixed
	right: 0
	top: 0
	z-index: 100

#popup
	+border-radius(30px)
	background: none repeat scroll 0 0 white
	border: 20px solid #ddd
	left: 31%
	padding: 50px
	position: fixed
	text-align: center
	top: 28%
	width: 380px
	z-index: 200


.jcrop-holder
	margin: 0 auto
	margin-bottom: $spacer


